

<table>
    {% for call in calls %}
        <tr>
            <td>
                {{ call.class ? call.class~call.type : '' }}{{ call.function }}()
            </td>
            <td>
                {% if call.file_relative and call.line %}
                    <a href="{{ host~call.file_relative }}&line={{ call.line }}">
                        <span style="color:#aaa;text-decoration:underline">{{ call.file_root }}</span>{#
                        #}{{ call.file_relative }}:{{ call.line }}
                    </a>
                {% else %}
                    Closure
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

